body{
    background-color: rgb(231, 226, 226);
}

.col-md-12{
    background-image: linear-gradient(navy, lightblue);
    color: white;
    height: auto;
    text-align: center;
    border: 1px solid rgb(73, 77, 77);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#title{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 56px;
    font-family: 'IM Fell English SC', serif;
}
#con1,
#con2,
#results{
    border: 1px solid rgb(73, 77, 77);
    background-image: linear-gradient(gray, lightgray);
    border-radius: 30px;
    padding: 30px;
}
header{
    font-weight: bold;
    color: white;
    font-size: 30px;
    font-family: 'IM Fell English SC', serif;
}
select{
    width: 100%;
}
label{
    font-weight: bold;
}
button{
    font-weight: bold;
}